@page
@model lemarchesurlenet.Pages.Onlineshops.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Onlineshop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Onlineshop.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Onlineshop.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Onlineshop.WebsiteURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Onlineshop.WebsiteURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Onlineshop.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
