@page
@model lemarchesurlenet.Pages.Partnershops.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Partnershop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Partnershop.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partnershop.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Partnershop.WebsiteURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partnershop.WebsiteURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Partnershop.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
